<div class="content">
  <h2>What are you passionate about?</h2>
  <span>I was going to be a mechanic like my father and his father before him but thanks to a scheduling conflict in my freshman year I was forced to choose something else and I chose programming. During the first class I realized that every button, tab, message, etc. was put there intentionally by a programmer and I wanted to be one. Ever since then I've been passionate about programming.</span>
  <h2>Why are you great?</h2>
  <span>I have applied my passion for programming into development of high quality code that exceeds expectations. A lot of programmers do the bare minimum to close a ticket and "ship it" but I take make the extra effort to make sure the code I write reads as well as it functions. I develop using SOLID and clean code principals to ensure that code is maintainable and well organized.</span>
  <h2>How did you hear about us?</h2>
  <span>I heard about this position through a recruiter at Addison Group.</span>
</div>