.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .companyLogo{
    height: 50px;
    vertical-align: middle;
    padding-right: 10px;
  }
  .pageContent{
    padding-top: 10px;
  }